.container {
  max-width: 500px;
  margin-top: 20px;
}

.title {
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input,
.select {
  width: 100%;
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
}

.button {
  background-color: #0b6b53;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background-color: #095c47;
}