.container {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: #0f5132;
  margin-bottom: 20px;
}

/* FORM */
.formGroup {
  margin-bottom: 16px;
}

.label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: #333;
}

.input,
.select {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  background: #fff;
  transition: all 0.2s ease;
}

/* focus effect */
.input:focus,
.select:focus {
  outline: none;
  border-color: #198754;
  box-shadow: 0 0 0 2px rgba(25, 135, 84, 0.15);
}

/* BUTTON GROUP */
.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 24px;
}

/* CANCEL BUTTON */
.cancelBtn {
  padding: 10px 26px;
  border: none;
  border-radius: 8px;
  background: #d9d9d9;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.cancelBtn:hover {
  background: #c4c4c4;
}

/* SUBMIT BUTTON */
.submitBtn {
  padding: 10px 26px;
  border: none;
  border-radius: 8px;
  background: #84cc16; /* hijau */
  color: black;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.submitBtn:hover {
  background: #65a30d;
}